
<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head th:replace="common/trail :: common-trail">


  			<link rel="stylesheet" href="/s/fonts/flaticon/font/flaticon.css"/>
			<link rel="stylesheet" type="text/css" href="/fontawesome-free-5.10.1-web/css/all.css"/>		
		
			<link type="text/css" href="css/sample.css" rel="stylesheet" media="screen" />
		
	<meta charset="utf-8"/>
		 <meta name="viewport" content="width=device-width, initial-scale=1"/>
		 <link rel="stylesheet" href="css/style3.css"/>
 	 	<link rel="stylesheet" href="css/bootstrap.min.css"/> 
 	 	
 	 	
<!--  	 			<script>
					$(document).ready(function(){
						  $("#outlineId").click(function(){
							  alert("op");
						    $("#p1").css("color", "red")
						      .slideUp(2000)
						      .slideDown(2000);
						  });
						}); 
				</script> -->
				
	
	</head>
  <body>
  
  		<div th:replace="common/trail :: navbar1"/>
  		
	<div class="" style="padding-top: 90px">
	
	 
	    <div class="row">	  
	      <div class="col-lg-10 col-xl-9 mx-auto">
	        <div class="card card-signin flex-row my-5">
	       
	          <div class="card-body">
	            <h5 class="card-title text-center" style="color:maroon;"><i class="fas fa-align-justify"></i>  Upload Tutorial</h5>
	            
	                  <form th:action="@{/submitTutorial}" method="post">

			               <table class="table table-bordered">
                                    <thead>
                                      <tr>
                                        <th>Foss</th>
                                    <td>
                      
										  <span id="catId" th:each="catgoryName : ${categoryName}">
										  		<input  id="categoryId"  name="categoryName"  th:value="${catgoryName.getCategoryname()}" readonly="readonly"></input>		
										 </span>

								
									
                                     </td> 
                         
    							<!--        <span  th:each="catgoryName : ${categoryName}"> 
                                           <td   style="color:maroon;"  th:text="${catgoryName.getCategorylname()}"> </td>
    
										</span>	 -->
														
                                      </tr>
                                    </thead>

                                     <thead>
                                      <tr>
                                      
                                      
                                        <th>Topic Name</th>
                                        <td>
			                                          <span id="topicName" th:each="topic : ${inputTopic}">  
			   										<input  id="topicId" name="categoryName"  th:value="${topic.getTopicname()}" readonly="readonly"></input>		
			                                        </span>
                                        </td>
                                      </tr>
						      
                                    </thead>

                                 <thead>
                                      <tr>
                                        <th>Language Name</th>
                                        <td>
			                                        <span id="lan" th:each="language : ${inputLanguage}">  
			                         				 <input  id="lanId" name="categoryName"  th:value="${language.languageName}" readonly="readonly"></input>		
			                                   
													</span>		
										</td>
                                      </tr>
                                    </thead>

                                     <thead>
                                          <tr>
                                              <th>Started date</th>
                                              <td>Started date</td>

                                          </tr>
                                    </thead>

                
                            </table>
                                
                            <table class="table table-bordered" style="background: lightblue">
                            
                            
                            
                            <thead>
                                      <tr>
                                          
		                                          <th>Sr No</th>
		                                          <th>Component</th> 
		                                          <th>Status</th>
		                                          <th>User</th>  
		                                          <th><i style="color: purple; width:30px " class="fas fa-cogs"></i></th>
		                
                                        </tr>                         
                             </thead>


                                      <tbody>
                                      <tr>
                                            
		                                          <td>1</td>
		                                          <td>Outline</td>
		                                          <td>
		                                        <!--    <span th:each="tutorial: ${tutorials}">  
				                                        <span style="color:maroon;" th:text="${tutorial.keywordStatusSet}">Pending</span>
														</span>	 -->
												 </td>
		                                          <th>-</th>
		                                          <th>  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo"><i style="color: blue;" class="fas fa-upload"></i></button>
		                                          </th>

					
			  
                                      </tr>
                                       <tr>
                                            
		                                          <td>2</td>
		                                          <td>Script</td>
		                                          <td>Pending</td>
		                                          <th>-</th>
		                                          <th> <button type="button" class="btn btn-info" data-toggle="modal" data-target="/" data-whatever="@mdo"><i style="color: blue;" class="fas fa-upload"></i> </button>
		                                          </th>

                                     	 </tr>
                                     	 
                                     <tr>
                                            
		                                          <td>3</td>
		                                          <td>Slide</td>
		                                          <td>Pending</td>
		                                          <th>-</th>
		                                          <th>  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#slideModale" data-whatever="@mdo"><i style="color: blue;" class="fas fa-upload"></i> </button></th>

                                     </tr>
                                     	 
                                      <tr>
                                            
		                              			  <td>4</td>
		                                          <td>Video</td>
		                                          <td>Pending</td>
		                                          <th>-</th>
		                                          <th> <button type="button" class="btn btn-info" data-toggle="modal" data-target="#videoModel" data-whatever="@mdo"><i style="color: blue;" class="fas fa-upload"></i> </button> </th>

                                      </tr>
                                     	 
                                     	 
                                     	 <tr>                                            
		                                          <td>5</td>
		                                          <td>Keywords</td>
		                                          <td> 
		                                          	<!--  <span th:each="tutorial: ${tutorials}">  
				                                    	<span style="color:maroon;" th:text="${tutorial.keywordStatusSet}">Pending</span>
													</span>	 -->
		                                         </td>
		                                          <th>-</th>
		                                          <th>  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#keywordModale" data-whatever="@mdo"><i style="color: blue;" class="fas fa-upload"></i> </button></th>

                                     	 </tr>
                                     	 
                                     	  <tr>   
                                     	                                          
		                                          <td>6</td>
		                                          <td>Prerequisite</td>
		                                          <td>Pending</td>
		                                          <th>-</th>
		                                          <th> <button type="button" class="btn btn-info" data-toggle="modal" data-target="#prerequisiteModale" data-whatever="@mdo"><i style="color: blue;" class="fas fa-upload"></i> </button> </th>

                                     	 </tr>
  
                                    </tbody>
							    </table>
			     				            
			          </form>
			          
					<!--  Outline   Start-->
			         	<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
						
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Upload  Outline</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						       <form th:action="@{/addOutline}" method="post">
						   
						          <div class="form-group">
						          
							            <label for="message-text" class="col-form-label">Add Outline</label>
							            <textarea class="form-control editor"  name="editor" id="editor" rows="10">
							        
							            </textarea>
							  
						          </div>
						        <button id="outlineId" type="button" class="btn btn-success">Upload Outline</button>
						     
						        </form>
						       <div class="modal-footer">
						         
							        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
							       
							      
						      </div> 
						        
						      </div>
						    
						    </div>
						  </div> 
						</div> 
				 <!--  Outline   End-->
				
				
				<!-- 		Video Div	 -->	
				<div class="modal fade" id="videoModel" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
						
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabel">Upload  Outline</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						
						   
							 <form class="form-horizontal"  th:action="@{/addConsaltant}" method="post"  enctype="multipart/form-data"  onsubmit="return submitForm(this);">
				                          
				                        
				                <div class="form-group"> 
				                         		
									                          <label for="consaltantImage" style="padding-top: 8px">Add Video</label> 
									                  	 	<input type="file" style="padding-right: 50px" class="form-control-file" id="consaltantImage"  name="uploadConsaltantImage" placeholder="uploadFile"   accept=".mp4" required="required"/>													
									                                 
				                                 </div> 
				                        
				                        
				                        
				                         		<div class="form-group"> 
				                         		
									                          <label for="consaltantImage" style="padding-top: 8px">Select Minute</label> 
									       			 <select id="categoryname" class="form-control" name="categoryName"  >
				                    
							                        <option selected="selected">Select Minute</option>      
							                        <span th:each="category: ${categorys}">
							  								<option th:value="${category.getId()}"><span th:text="${category.categoryname}"></span></option>		
				  						</span>
				  						
				                    </select>             
				                                 </div>         
				                                 
				                                 
				             <div class="form-group"> 
				                         		
									      <label for="consaltantImage" style="padding-top: 8px">Select Seconds</label>
										 <select id="categoryname" class="form-control" name="categoryName" >
				                    
							                        <option selected="selected">Select Seconds</option>      
							                        <span th:each="category: ${categorys}">
							  								<option th:value="${category.getId()}"><span th:text="${category.categoryname}"></span></option>		
				  						</span>
				                   		 </select> 
									                                 
				             </div>  
				                                 
				         
				            		  <button type="submit" class="btn btn-success">Upload</button>&nbsp;&nbsp;&nbsp;
				                        
				                      
				           </form>
				  				 
  			
						       <div class="modal-footer">
						         
							        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
							
						      </div> 
						        
						      </div>
						    
						    </div>
						  </div>
						  
				</div> 	
				<!-- 	End	Video Div	 -->
				
					<!-- star KeyWord-->
	<div class="modal fade" id="keywordModale" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelKeyWord" aria-hidden="true">
						
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabelKeyWord">Upload  KeyWord</h5>
						        <div class="modal-title">
						        
						         </div>
						         <span  style="color: green; padding-left: 50px"  id="statuskeyword"> 

								 </span>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						      
				 <form  class="form-horizontal"  th:action="@{/addkeyword}" onsubmit="return submitForm(this);" method="post" >

						          <div class="form-group">
						          
							            <label for="message-text" class="col-form-label">Add Keyword</label>
							            <textarea class="form-control"  name="keywordArea" id="keyword" rows="10">
							        
							            </textarea>
						          </div>
						        <button id="keywordId" type="button" class="btn btn-success">Upload</button>	        
					<!-- 	   <button id="keyword" type="submit" class="btn btn-success">Upload</button>   -->  
						     
					</form>
						    
						       <div class="modal-footer">
						         
							        <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
							       
							      
						      </div> 
						        
						      </div>
						    
						    </div>
						  </div>
						  
	</div>
	
	<script>
					function submitForm() {
						  return confirm('Do you really want to submit the form?');
						  
						  alert("Submit form succefully");
						}
					</script>
				
							<!-- End KeyWord-->
						
						<!-- Start prerequisiteModale-->
							
					<div class="modal fade" id="prerequisiteModale" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelKeyword" aria-hidden="true">
						
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabelKeyword">Upload  Prerequisite</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
						       <form th:action="@{/addOutline}" method="post">
						       
							 <div class="form-group">  
			                     <label for="inputUserame">Add Category</label>     
			             			 <select id="preRequsite" class="form-control" name="preRequsite"   required="required" >
								               
								                        <option selected="selected">Select Category</option>      
								                        <span th:each="category: ${categorys}">
								  								<option th:value="${category.getId()}"><span th:text="${category.categoryname}"></span></option>		
								  						</span>
							 </select>
							</div> 
				
	           				 <div class="form-group ">
		
					               <label for="inputTopic">Topic Name</label>
					                  <select id="inputTopic" class="form-control" name="inputTopic"  required="required">
					              
					                </select> 
					                	
							 </div>
							 
						        <button id="outlineId" type="button" class="btn btn-success">Upload </button>
						     
						        </form>
					
						        
						      </div>
						    
						    </div>
						  </div>
						  
						</div>
						
						<!-- End prerequisiteModale-->
						
		<!-- 	star Slide -->
						
			<div class="modal fade" id="slideModale" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelSlide" aria-hidden="true">
						
						  <div class="modal-dialog" role="document">
						    <div class="modal-content">
						      <div class="modal-header">
						        <h5 class="modal-title" id="exampleModalLabelSlide">Upload  Slide</h5>
						        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
						          <span aria-hidden="true">&times;</span>
						        </button>
						      </div>
						      <div class="modal-body">
				
								 <form class="form-horizontal"  th:action="@{/a}" method="post"  enctype="multipart/form-data"  onsubmit="return submitForm(this);">
				                          
			
				                        	<div class="form-group" style="padding-top: 80px"> 
				                         		
									                          <label for="consaltantImage" >Add Slide</label> 
									                  	 	<input type="file"  class="form-control-file" id="consaltantImage"  name="uploadConsaltantImage" placeholder="uploadFile"   accept=".zip" required="required"/>													
                    
				                                 </div> 
				                        
				        
				            		  <button type="submit" class="btn btn-success">Upload</button>&nbsp;&nbsp;&nbsp;
				                        
				                      
				         	  </form>
					  </div>
	 </div>
 </div>
						  
						</div>
			<!-- 	End Slide -->	
							
				
          </div>
        </div>
      </div>
    </div>
  </div>
 		
<script src="js/ckeditor.js"></script>

	<script>
	
		ClassicEditor
			.create( document.querySelector( '#editor' ), {
				// toolbar: [ 'heading', '|', 'bold', 'italic', 'link' ]
			} )
			.then( editor => {
				window.editor = editor;
			} )
			.catch( err => {
				console.error( err.stack );
			} );
		
		
		// const editorData = window.editor.getData();
		 
 		/* 	
	 		document.querySelector( '#outlineId' ).addEventListener( 'click', () => {
		    const editorData = window.editor.getData()
		    console.log();
		    
	 		`	}  */
	</script>										
					          
				          
 
			<div th:fragment="body-bottom-scripts">
			
        		 <script src="static/js/bootstrap.bundle.min.js"></script>
       			 <script src="static/js/jquery.slim.min" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>			
				<script src="/fontawesome-free-5.10.1-web/js/all.js"></script>
			    <script src="/s/js/jquery-3.2.1.min.js"></script>
			    <script src="/s/js/popper.min.js"></script> 
			    <script src="/s/js/bootstrap.min.js"></script>
			
			 <script src="/s/js/main.js"></script>
			  <script src="/js/ajaxSupport.js"></script>
			     
			     
				
			</div>
 </body>
</html>
 
 