
<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head th:replace="common/trail :: common-trail">


		<!-- <meta charset="utf-8"/>
		 <meta name="viewport" content="width=device-width, initial-scale=1"/>
		 <link rel="stylesheet" href="css/style3.css"/>
 	 	<link rel="stylesheet" href="css/bootstrap.min.css"/>  -->


<script>
					
					function submitForm() {
						  return confirm('Do you really want to submit the form?');
						  
						  alert("Submit form succefully");
						}
					</script>
</head>

  <body>
  
  	<!-- 	<div th:replace="common/trail :: navbar1"/> -->
  		
<!-- 	<div class="container" style="padding-top: 150px"> -->
	<div style="display:flex;">
		<div th:replace="common/sidebar :: nav_sidebar"></div>
	
	    <div class="row" style='width:100%;'>
	      <div class="col-lg-10 col-xl-9 mx-auto">
	        <div class="card card-signin flex-row a-card">
	       
	          <div class="card-body">
	           <h5 class="card-title text-center">
	           
	           
    						<div  id="#test" class="">    
                                <div th:if="${msg}">
   								 <span th:text="${msg}"></span>
 											 </div> </div></h5>
 											 
 											 
 											 
	            <h5 class="card-title text-center a-card-title" >Add Consultant</h5>
	            
	      <form class="form-horizontal"  th:action="@{/addConsaltant}" method="post"  enctype="multipart/form-data"  onsubmit="return submitForm(this);">
                          
                       
  					 <div class="form-group">  
                            
                                 <label for="nameConsaltant">Name</label> 
                                  <input type="text" class="form-control input-lg" id="nameConsaltant" name="nameConsaltant"  required="required" placeholder="Name of the consultant"/>
   										
              		   </div>             
                         <div class="form-group">       
                                           <label for="descriptionConsaltant" >Description</label>  
                                            <textarea class="form-control" rows="5" id="descriptionConsaltant" name="descriptionConsaltant"  required="required" placeholder="Description about the consultant"></textarea>
                                             
                                 </div>
                                 
                                  <div class="form-group"> 
                          <label for="consaltantImage" style="padding-top: 8px">Add Image</label> 
                  	 	<input type="file" style="padding-right: 50px" class="form-control-file" id="consaltantImage"  name="uploadConsaltantImage" placeholder="uploadFile"   accept=".jpg, .jpeg ,img,.png" required="required"/>													
                                 
                                 </div>                             
                                          
                                                    
                                             
                                                            <button type="submit" class="btn  a-btn">Submit</button>&nbsp;&nbsp;&nbsp;
                                                             <button type="submit" class="btn  a-btn">Reset</button>
                        
                      
              </form>
  				 
  				 	
					
  				 
          </div>
        </div>
      </div>
    </div>
  </div>
 
			<div th:fragment="body-bottom-scripts">

        	 <script src="static/js/bootstrap.bundle.min.js"></script>
       		 <script src="static/js/jquery.slim.min" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
			
			
			
			</div>
 </body>
</html>
 
 