
<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">

<head th:replace="common/trail :: common-trail">

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="css/style3.css" />
<link rel="stylesheet" href="css/bootstrap.min.css" />

</head>
<body>

	<div style="display: flex;">
		<div th:replace="common/sidebar :: contributor_sidebar"></div>
		<div class="row" style='width: 100%;'>
			<div class="col-lg-10 col-xl-9 mx-auto">
				<div class="a-update-msg"></div>
				<div class="card card-signin flex-row a-card">
					<div class="card-body">
						<h5 class="card-title text-center"
							style="color: maroon; font-size: 20px">
							<div class="">
								<div th:if="${msgSuccefull}">
									<span th:text="${msgSuccefull}"></span>
								</div>
							</div>
						</h5>
						<h5 class="card-title text-center a-card-title">Add Domain
							Language</h5>

						<form class="form-horizontal"
							th:action="@{/addMeAsDomainRevieweer}" method="post"
							onsubmit="return submitForm()(this);">
							<div class="form-group">
								<div class="form-group">
									<label for="languageContributerId">Select Language </label> <select
										id="languageContributerId" class="form-control"
										name="contributerLanguage" required="required">
										<option selected="selected">Select Language</option>
										<span th:each="lan : ${languages}">
											<option th:value="${lan}"><span th:text="${lan}"></span></option>

									</span>
									</select>
								</div>
								<span style="color: red;" th:if="${msg1}"> Choose another
									Role</span>
							</div>
							<button type="submit" value="showAlert" class="btn btn-success">Submit</button>
							&nbsp;&nbsp;&nbsp;
							<button type="reset" class="btn btn-success">Reset</button>
						</form>
						
						<script>
					$( document ).ready(function() {
						var msg = localStorage.getItem("domain_role_msg");
						
						
					    if(Boolean(msg)){
					    	/* alert('here'); */
					    	var content = '<div class="alert alert-info" role="alert">'+msg+'</div>';
					    	/* alert('not null'); */
					    	$(".a-update-msg").html(content);
						    localStorage.setItem("domain_role_msg", "");
					    	$('.a-card').css("margin-top", "20px"); 	
					    }
					    
					});
					function submitForm() {
						  localStorage.setItem("domain_role_msg", "Request submitted successfully for Domain Reviewer role.");
						}
					</script>
					
					</div>
				</div>
			</div>
		</div>
	</div>


	<div th:fragment="body-bottom-scripts">
		<script src="static/js/bootstrap.bundle.min.js"></script>
		<script src="static/js/jquery.slim.min"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"></script>


	</div>
</body>
</html>

