
<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:replace="common/trail :: common-trail"></head>
<body>
	<div th:replace="common/sidebar :: top_header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-lg-2 pr-0">
				<div th:replace="common/sidebar :: contributor_sidebar"></div>
			</div>
			<div class="col-md-9 col-lg-10 p-md-5">
				<div>
					<div class="alert alert-success" role="alert"
						th:if="${success_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${success_msg}"></span>
							</div>
						</div>
					</div>
					<div class="alert alert-danger" role="alert" th:if="${error_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${error_msg}"></span>
							</div>
						</div>
					</div>
				</div>

				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item"><a class="nav-link active" id="home-tab"
						data-toggle="tab" href="#add" role="tab" aria-controls="home"
						aria-selected="true">Add</a></li>
					<li class="nav-item"><a class="nav-link" id="profile-tab"
						data-toggle="tab" href="#view" role="tab" aria-controls="profile"
						aria-selected="false">View</a></li>

				</ul>
				<div class="tab-content" id="myTabContent">
					<div class="tab-pane fade show active py-3" id="add"
						role="tabpanel" aria-labelledby="home-tab">
						<div class="card">
							<div class="card-header">
								<h4>Add Event</h4>
							</div>
							<div class="card-body">
								<div class="row">
									<div class="col-lg-6">
										<form class="form-horizontal" th:action="@{/addEvent}"
											method="post" enctype="multipart/form-data">
											<div class="form-group">

												<label for="event">Event Name</label> <input type="text"
													class="form-control" id="event" name="eventname"
													required="required" />
											</div>
											<!-- <div class="form-group">

								<label for="eventdate">Event Date</label> <input type="date"
									class="form-control" id="eventdate" name="date"
									required="required" />
							</div> -->
											<div class="form-group">

												<label for="eventdate">Start Date</label> <input type="date"
													class="form-control" id="eventdate" name="date"
													required="required" />

											</div>

											<div class="form-group">

												<label for="endDate">End Date</label> <input type="date"
													class="form-control" id="endDatee" name="endDate"
													required="required" />

											</div>


											<div class="form-group">
												<label for="eventDescription" style="padding-top: 40px">Enter
													Description</label>
												<textarea class="form-control" rows="5"
													id="eventDescription" name="description"
													required="required" placeholder="Description of the event"></textarea>
											</div>
											<div class="form-group">
												<label for="venue">Venue Name</label> <input type="text"
													class="form-control" id="venue" name="venuename"
													required="required" />
											</div>
											<div class="form-group">
												<label for="contactperson">Contact Person</label> <input
													type="text" class="form-control" id="contactperson"
													name="contactperson" required="required" />
											</div>
											<div class="form-group">
												<label for="contactnumber">Contact Number</label> <input
													type="number" class="form-control" id="conatctNumber"
													name="contactnumber" required="required" />
											</div>
											<div class="form-group">

												<label for="email">Email Id</label> <input type="email"
													class="form-control" id="email" name="email"
													required="required" />
											</div>
											
											<div class="form-group">
												<label for="Image" style="padding-top: 8px">Event Image </label> <input type="file" style="padding-right: 50px"
													class="form-control-file " id="Image"
													name="Image" placeholder="uploadFile"
													accept=".jpg, .jpeg ,.png" required="required" />

											</div>

											<button type="submit" class="btn a-btn">Submit</button>
											&nbsp;&nbsp;&nbsp;
											<button type="reset" class="btn a-btn">Reset</button>
										</form>
									</div>
								</div>
							</div>
						</div>


					</div>
					<div class="tab-pane fade py-3" id="view" role="tabpanel"
						aria-labelledby="profile-tab">
						<table class="table table-striped" id="myTable">

  <thead>
    <tr>
      <th scope="col">Event Name</th>
      <th scope="col">Description</th>
      <th scope="col">Location</th>
      <th scope="col">Contact Person</th>
      <th scope="col">Contact Number</th>
      <th scope="col">Email</th>
      <th scope="col">Start Date</th>
      <th scope="col">End Date</th>
      <th scope="col">Poster</th>
      <th scope="col">Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="event : ${events}">
    <div th:if="${event.getUser().getId() == userInfo.getId()}">
      <td th:text = "${event.getEventName()}"></td>
      <td th:text = "${event.getDescription()}"></td>
      <td th:text = "${event.getLocation()}"></td>
      <td th:text = "${event.getContactPerson()}"></td>
      <td th:text = "${event.getContactNumber()}"></td>
      <td th:text = "${event.getEmail()}"></td>
      <td th:text = "${event.getStartDate()}"></td>
      <td th:text = "${event.getEndDate()}"></td>
      <td><img id="imagesource" th:src="@{/files/}+@{${event.getPosterPath()}}"
			style="width: 150px; height: 100px" />
	  </td>
	  <td><a th:href="@{${'/event/edit/' + event.getEventId()}}">Edit</a></td>
	  </div>
    </tr>
   
  </tbody>
</table>
						

					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:replace="common/trail :: body-bottom-scripts"></div>
	<script type="text/javascript">
$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>
	<script th:inline="javascript">
		var projectPath='[(@{/})]';
	</script>
</body>
</html>
