
<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head th:replace="common/trail :: common-trail"></head>
<body>
	<div th:replace="common/sidebar :: top_header"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-3 col-lg-2 pr-0">
				<div th:replace="common/sidebar :: contributor_sidebar"></div>
			</div>
			<div class="col-md-9 col-lg-10 p-md-5">
				<div>
					<div class="alert alert-success" role="alert"
						th:if="${success_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${success_msg}"></span>
							</div>
						</div>
					</div>
					<div class="alert alert-danger" role="alert" th:if="${error_msg}">
						<div id="#test" class="">
							<div>
								<span th:text="${error_msg}"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="card">
					<div class="card-header">
						<h4>Add Master Trainer</h4>
					</div>
					<div class="card-body">
						<div class="row">
							<div class="col-lg-6">
								<form action="/addMasterTrainerRole" method="post"
									enctype="multipart/form-data">
									<div class="form-group ">
										<label for="textMasterName">Name </label> <input type="text"
											class="form-control w-75" name="name" id="textMasterName"
											th:value="${userInfo.getFirstName()}" required="required" />
									</div>
									<div class="form-group ">
										<label for="textAge">Age</label> <input type="text"
											class="form-control w-75" name="age" id="textAge"
											required="required" />
									</div>
									<div class="form-group ">
										<label for="textMobile">Mobile Number</label> <input
											type="Number" class="form-control w-75" name="phone"
											id="textMobile" th:value="${userInfo.getPhone()}"
											required="required" />
									</div>
									<div class="form-group ">
										<label for="textAddress">Postal Address</label> <input
											type="text" class="form-control w-75" name="address"
											id="textAddress" th:value="${userInfo.getAddress()}"
											required="required" />
									</div>
									<div class="form-group">
										<label for="textOrganization">Organization associated</label>
										<input type="text" class="form-control w-75" name="org"
											id="textOrganization" required="required" />
									</div>
									<div class="form-group ">
										<label for="textExpNumber">Experience in Year</label> <input
											type="number" class="form-control w-75" name="experience"
											id="textExpNumber" required="required" />
									</div>
									<div class="form-group ">
										<label for="textAadharNumber">Aadhaar Number</label> <input
											type="number" class="form-control w-75" name="aadharNumber"
											id="textAadharNumber" required="required" />
									</div>
									<button type="submit" class="btn  btn-success"
										data-toggle="modal" onclick="myFunction()">Submit</button>
									<button type="reset" class="btn btn-success">Reset</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="common/trail :: body-bottom-scripts"></div>
	<script th:inline="javascript">
		var projectPath = '[(@{/})]';
	</script>
</body>
</html>
