<div th:replace="common/header :: navbar-Admin"></div>
         
         <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a th:class="${viewActive} ? 'nav-link active' : 'nav-link'" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">View Topic</a>
              </li>
              <li class="nav-item">
                <a th:class="${addActive} ? 'nav-link active' : 'nav-link'" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Add Topic</a>
              </li>
            
            </ul>
            <div class="tab-content" id="myTabContent">
              <div th:class="${viewActive} ? 'tab-pane fade show active' : 'tab-pane fade show'" id="home" role="tabpanel" aria-labelledby="home-tab">
              
              <div class="header-child">
                   <label>Available Topic</label> <hr/>
                   <div class="status" th:text="${status}"></div>
               </div>
               
               </div>
               
               </div>
               
               <!-- 							
	    <a  id="viewActive" th:class="${viewActive} ? 'nav-item nav-link active' : 'nav-item nav-link'"  id="nav-profile-tab" data-toggle="tab" href="#Domain" role="tab" aria-controls="nav-profile" aria-selected="false">Domain Reviewer</a>		  	
								
			 -->	
          
          
       java.util.Date dt = new java.util.Date();

		java.text.SimpleDateFormat sdf = 
		     new java.text.SimpleDateFormat("yyyy-MM-dd HH:mm:ss");

		String currentTime = sdf.format(dt);     
               