<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1"></meta>
<title>Insert title here</title>


<!-- Just an image -->
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" alt="">
  </a>
</nav>
	<h1 style="padding-left: 500px">Welcome To Health and Nutrition</h1>


<div class="row" style="padding-top: 150px">

  <div class="col-md-12">	

    <div id="gallary-lightbox-ui"></div>

 <div class="container">
 	 
			
    <div class="mdb-lightbox">

   <span th:each="tutorialView : ${tutorialList}">
        	
         <span th:value="tutorialView"> </span>  
        	
        	 <iframe width="560" height="- 315" th:src="tutorialView"
					     frameborder="0" allow="accelerometer; autoplay; encrypted-media; 
					     gyroscope;picture-in-picture" allowfullscreen="true">      					      	      
		     </iframe>	
		   
     </span> 
   
      
		
      <div class="col-md-8" style="display: inline-block;">
      
		      <div class="col-12">
		      
				  <a style="display: inline-block;" href="https://mdbootstrap.com/img/Photos/Lightbox/Original/img%20(145).jpg" data-size="1600x1067">	         
				   
				           <img style="padding-left:80px; inline-block;" alt="picture" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(145).jpg" class="img-fluid"></img>
				        
				  </a>
				      
			   </div>
      
      </div>
      
      </div>
      


    </div>

  </div>
</div>

</head>
</html>