  <body>
  



          	<div class="container" style="padding-top: 120px">
          	
          		<div class="row">
          	
         			 	<div class="col">
          	
          	
   				 <table id="tableId"  class="table table-striped">
					           
					           	  <thead class="">
					           <tr>
					          
					                <th>Id</th>				               
					                <th>First Name</th>
					                <th>Last Name</th>
					                 <th>Email</th> 
					                <th>Aadhar Number</th>  
					                <th>Gender</th> 
					                <th>Language</th> 
					 
					            </tr>
					            
					            </thead>
					             <tbody>
					            	
					            	<tr th:each="approve : ${parcipantDeatails}">
					                <td th:text="${approve.participantId}">ID</td>  
					                <td th:text="${approve.firstname}">First Name</td>
					                <td th:text="${approve.lastname}">Last Name</td>
					                <td th:text="${approve.email}">Email</td>
					                <td th:text="${approve.adharNumber}">Aad paricipanthar Number</td>
									 <td th:text="${approve.gender}">Gender</td>
 									<td th:text="${approve.language}">Language</td>
					            </tr>
					            </tbody>
					        </table>
					</div>
				</div>
			</div>   
			
			
			<script src="/js/jquery.min.js"></script>
		 	<script type="text/javascript" charset="utf8" src="/datatables.js"></script>
		 
			<script>
			
			
			$(document).ready( function () {
			    $('#tableId').DataTable();
			} );
			
			</script>
				
			<div th:fragment="body-bottom-scripts">

     
        	
        </div>
 </body>
